# --- Virtual environment ---
myproject_env/

# --- Local config & secrets ---
.env
# --- Project documentation (optional to ignore) ---
Project-structure.txt
ColorCodes.txt

# --- Byte-compiled / optimized / DLL files ---
__pycache__/
*.py[cod]
*$py.class

# --- Flask instance folder ---
instance/

# --- Local database ---
site.db
# --- Static files ---
Static/fonts/
Static/images/



*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.tmp
.DS_Store