<!-- templates/change_password.html -->
{% extends "base.html" %}
{% block title %}تغییر رمز عبور{% endblock %}
{% block header %}تغییر رمز عبور{% endblock %}
{% block content %}
    <div class="card">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.old_password.label }}
                {{ form.old_password(class="form-control") }}
                {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                        <div class="error-message" style="color: red; font-size: 0.8em; margin-top: 5px;">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.new_password.label }}
                {{ form.new_password(class="form-control") }}
                {% if form.new_password.errors %}
                    {% for error in form.new_password.errors %}
                        <div class="error-message" style="color: red; font-size: 0.8em; margin-top: 5px;">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.new_password2.label }}
                {{ form.new_password2(class="form-control") }}
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <div class="error-message" style="color: red; font-size: 0.8em; margin-top: 5px;">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-primary w-100", value="تغییر رمز عبور") }}
        </form>
    </div>
    <a href="{{ url_for('profile') }}" class="btn mt-20">بازگشت به پروفایل</a>
{% endblock %}
