<!-- templates/register.html -->
{% extends "base.html" %}
{% block title %}ثبت‌نام{% endblock %}
{% block header %}ثبت‌نام حساب کاربری{% endblock %}
{% block content %}
    <div class="card">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                {% if form.password.description %}<small class="text-muted">{{ form.password.description }}</small>{% endif %}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-success w-100") }}
        </form>
    </div>
    <div class="mt-20">
        <p>قبلاً ثبت‌نام کرده‌اید؟ <a href="{{ url_for('login') }}">وارد شوید</a></p>
    </div>
{% endblock %}
